.cart-item {
  border-bottom: 1px solid #ccc;
  height: 120px;
  padding: 10px;
  display: flex;
  // align-items: center;
  .left {
    height: 80px;
    width: 150px;
    display: flex;
    // width: -webkit-fill-available;
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
  .center {
    padding-left: 20px;
    // width: 80%;
    justify-self: flex-end;
    display: flex;
    width: -webkit-fill-available;
  }
  .right {
    font-weight: bold;
    display: flex;
    width: -webkit-fill-available;
    justify-content: end;
  }
}
.emptycart {
  background-color: rgba(250, 235, 215, 0.027);
  padding: 30px;
}
.subtotal-sidebar {
  background-color: rgba(215, 215, 250, 0.055);
  padding: 15px 20px;
}
