$navbar-background: #222f3e;
$background: #00171f;
$primary-text: #f1f2f6;
$key-color: #1df7a0;
$key-color-2: #ff7449;
$key-color-3: rgba(122, 69, 210, 1);
$disabled-color: #a5a5a5;
$light-grey-color: #525c68;

$font-size-very-small: 8px;
$font-size-small: 12px;
$font-size-normal: 14px;
$font-size-normal-2: 20px;
$font-size-big: 28px;
$font-size-very-big: 45px;
$font-size-very-giant: 145px;
