@import "./Constants.scss";
.homepage {
  background: $navbar-background;
  color: $primary-text;
  // height: 100vh;
}
.home-featured-products-wrapper {
  background: $navbar-background;

  .feature-1 {
    padding: 100px 0px;
    justify-content: center;
    display: flex;
    background-image: url("/9-96692_perspective-icon-technology-background-dotted-background-png.webp"),
      linear-gradient(279deg, rgb(9, 10, 10) 0%, rgba(32, 43, 56, 1) 49%);
    background-size: cover;

    @media screen and (max-width: 768px) {
      padding: 0;
    }
  }
  .feature-2 {
    padding: 50px 0px;
    background: rgb(58, 58, 58);
    background: radial-gradient(
      circle,
      rgba(58, 58, 58, 1) 30%,
      rgba(16, 27, 31, 1) 100%
    );
    .fname {
      color: $disabled-color;
    }
    .lname {
      color: $light-grey-color;
    }
    .price {
      color: $disabled-color;
    }
  }
  .feature-3 {
    padding: 50px 0px;
    background-color: #424242;
    .fname {
      color: $disabled-color;
    }
    .lname {
      color: $key-color-2;
    }
    .price {
      color: $key-color-2;
    }
  }
  .feature-4 {
    padding: 50px 10px;
    background-color: #191b1d;
    .fname {
      color: $disabled-color;
    }
    .lname {
      color: $key-color-2;
    }
    .price {
      color: $primary-text;
    }
  }
  .feature-5 {
    padding: 63px 20px;
    background: linear-gradient(
      0deg,
      rgba(122, 69, 210, 1) 15%,
      rgba(255, 255, 255, 1) 15%,
      rgba(71, 71, 71, 1) 15%,
      rgba(71, 71, 71, 1) 20%,
      rgba(255, 255, 255, 1) 20%
    );
    .fname {
      color: $disabled-color;
    }
    .lname {
      color: $key-color-2;
    }
    .price {
      color: $key-color-3;
    }
  }
  .feature-6 {
    padding: 63px 20px;
    width: 100%;
    background-color: #e12419;
    .fname {
      color: $primary-text;
    }
    .lname {
      color: $primary-text;
    }
    .price {
      color: $primary-text;
    }
  }
}
.feature-image {
  will-change: transform;
  transition: transform 750ms;
  display: none;
  cursor: pointer;
  &:hover {
    transform: scale(1.2, 1.2);
  }
  &.show {
    display: block;
  }
}
